
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import './assets/plugins/bootstrap-4.5.2/scss/bootstrap.scss';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$myApp-primary: mat-palette($mat-blue, A200);
$myApp-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$myApp-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$myApp-theme: mat-light-theme($myApp-primary, $myApp-accent, $myApp-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($myApp-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-expansion-panel-body { padding: 0 !important; }
.active { background-color: #66666666 !important; }


/**********************************************************************************/
// Thema personalizado
/**********************************************************************************/
$dark-primary: mat-palette($mat-green);
$dark-accent: mat-palette($mat-yellow);
$dark-warn: mat-palette($mat-red);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

$light-primary: mat-palette($mat-blue);
$light-accent: mat-palette($mat-deep-purple);
$light-warn: mat-palette($mat-red);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

.is-dark {
  @include angular-material-theme($dark-theme);
}
.is-light {
  @include angular-material-theme($light-theme);
}
